/* 轮播图下面导航 */
.fun_nav{
    width: 100%;
    padding: .125rem;
}
.fun_list{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fun_nav  .fun_list li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.fun_nav  .fun_list li img{
    width: .208333rem;
    height: .208333rem;
    margin-bottom: .041667rem;
}
/* 导航下面的四张图片 */
.adv1{
    width: 100%;
    margin-bottom: .025rem;
}
.adv1_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.adv1_list li{
    width: 49%;
    margin-bottom: .058333rem;
}
/* .adv1_list li a {
    display: block;
    width: 100%;
    height: 100%;
} */
.adv1_list li  img{
    width: 100%;
}

/* 新人特权-潮流尖货 */
.content{
    width: 100%;
}
.new_register{
    width: 100%;
    padding-bottom: .083333rem;
}
.new_register a{
    display: block;
    width: 100%;
}
.new_register img{
    width: 100%;
}
.vip_small{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: .083333rem;
    padding: 0 .025rem;
}
.vip_small_list{
    width: 23%;
}
.vip_small_list img{
    width: 100%;
}

/* 主页内容 */
.artical-warpper {
    text-align: left;
    padding: .15rem .166667rem .166667rem;
    background: #fff;
}
.artical-warpper .name {
    font-family: \\9ED1\4F53;
    font-weight: 700;
    display: block;
    font-size: .1rem;
    color: #333;
    line-height: .15rem;
    padding-bottom: .15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.artical-warpper .detail {
    font-family: \\9ED1\4F53;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: .06rem;
    color: #999;
    height: .283333rem;
    line-height: .15rem;
    
}

.scroll{
    width: 100%;
    overflow: hidden;
    padding: .166667rem .083333rem;
    background: #fff;
}
.scrollul{
    display: flex;
    width: max-content;
}
.img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    vertical-align: middle;
}
.item {
    -ms-flex: 0 0 1.0833rem;
    flex: 0 0 1.0833rem;
    width: 1.0833rem;
    padding: 0 0.0833rem;
}
.img{
    height: 1.0833rem;
}
.name {
    font-family: Aria;
    font-size: 0.1083rem;
    padding: 0.0833rem 0 0.0417rem;
    color: #333;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
.price {
    font-family: Aria;
    font-size: 0.1rem;
    color: #999;
    text-align: center;
}
.content .shangou {
    margin-bottom: 0.0833rem;
    background: #fff;
}
.content .shangou .img_warpper {
    position: relative;
    height: 0;
    padding-bottom: 60.8%;
    overflow: hidden;
}
.content .shangou .img_warpper .s-flag {
    position: absolute;
    width: 0.5rem;
    height: 0.1833rem;
    left: 0.0417rem;
    top: 0.0833rem;
}
.content .shangou .img_warpper .s-flag img{
    width: 100%;
    height: 100%;
}
.content .shangou .img_warpper .s-img {
    width: 100%;
    vertical-align: top;
}
.content .shangou .content-warpper {
    padding: 0.1083rem 0.0833rem;
    display: -ms-flexbox;
    display: flex;
}
.content .shangou .content-warpper .conleft {
    -ms-flex: 1;
    flex: 1;
}
.content .shangou .content-warpper .conleft .name_wrapper {
    text-align: left;
    margin-bottom: 0.0583rem;
    font-weight: 700;
    display: flex;
}
.content .shangou .content-warpper .conleft .name_wrapper .top_title {
    margin-right: 0.1rem;
    color: #333;
    display: block;
    max-width: 1.408333rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    align-items: center;
}
.content .shangou .content-warpper .conleft .name_wrapper .zhekou {
    color: #f33;
    display: block;
}
.content .shangou .content-warpper .conleft .detail {
    text-align: left;
    font-family: \\9ED1\4F53;
    font-size: 0.1083rem;
    color: #999;
}
.content .shangou .content-warpper .conright .logo {
    margin-top: 0.0167rem;
    width: 0.5rem;
    height: 0.25rem;
}
