#carousel{
    width: 100%;
}
#carousel ul,#carousel li{
    width: 100%;
}
#carousel ul li img{
    width: 100%;
}
.ant-carousel .slick-slide {
    width: 100%;
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
 